#app{
    display: flex;
    flex-direction: column;
}

.search-input{
    width: 500px;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
 margin: auto;
 width: 500px;
}

.repos {
  list-style-type: none;
 
}

.saveContainer{
    margin:auto;
    width: 500px;
}

.repos-save {
    list-style-type: none;
  }
